@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

#ext_menu-t .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-t.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-t .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-t .mbr-navbar__hamburger {
  color: #d14841;
}
#ext_menu-t .mbr-navbar__items a {
  font-size: 14px;
  font-family: 'Oswald', sans-serif;
}
#header4-1g P {
  text-align: right;
}
#header4-1g H1 {
  text-align: center;
}

#ext_menu-g .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-g.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-g .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-g .mbr-navbar__hamburger {
  color: #d14841;
}
#ext_menu-g .mbr-navbar__items a {
  font-size: 14px;
  font-family: 'Oswald', sans-serif;
}
#testimonials1-m .mbr-reviews__text {
  text-align: left;
}

#ext_menu-x .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-x.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-x .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-x .mbr-navbar__hamburger {
  color: #d14841;
}
#ext_menu-x .mbr-navbar__items a {
  font-size: 14px;
  font-family: 'Oswald', sans-serif;
}
#contacts2-z P {
  color: #ffffff;
}


#ext_menu-h .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-h.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-h .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-h .mbr-navbar__hamburger {
  color: #d14841;
}
#ext_menu-h .mbr-navbar__items a {
  font-size: 14px;
  font-family: 'Oswald', sans-serif;
}
#content5-i .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
#content5-i .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #2969b0;
}
#content5-i .mbr-article {
  color: #fff;
}

#ext_menu-10 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-10.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-10 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-10 .mbr-navbar__hamburger {
  color: #d14841;
}
#ext_menu-10 .mbr-navbar__items a {
  font-size: 14px;
  font-family: 'Oswald', sans-serif;
}


#ext_menu-1a .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-1a.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-1a .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-1a .mbr-navbar__hamburger {
  color: #d14841;
}
#ext_menu-1a .mbr-navbar__items a {
  font-size: 14px;
  font-family: 'Oswald', sans-serif;
}
#content1-1b P {
  color: #b8312f;
  font-family: 'Oswald', sans-serif;
}

#ext_menu-1c .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-1c.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-1c .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-1c .mbr-navbar__hamburger {
  color: #d14841;
}
#ext_menu-1c .mbr-navbar__items a {
  font-size: 14px;
  font-family: 'Oswald', sans-serif;
}

#ext_menu-1e .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-1e.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-1e .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-1e .mbr-navbar__hamburger {
  color: #d14841;
}
#ext_menu-1e .mbr-navbar__items a {
  font-size: 14px;
  font-family: 'Oswald', sans-serif;
}

#ext_menu-1h .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-1h.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-1h .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-1h .mbr-navbar__hamburger {
  color: #d14841;
}
#ext_menu-1h .mbr-navbar__items a {
  font-size: 14px;
  font-family: 'Oswald', sans-serif;
}
#features1-1i P {
  text-align: center;
}
